<div class="af_container">
  <h1 class="af_h1_title">{{'contact.title' | translate}}</h1>
  <hr class="solid_hr">
  <table class="contact_table">
    <tbody>
      <tr>
        <td>email</td>
        <td>:</td>
        <td>afsinka[at]gmail[dot]com</td>
      </tr>
      <tr>
        <td>twitter</td>
        <td>:</td>
        <td><a href="https://twitter.com/intent/tweet?screen_name=afsinka" class="twitter-mention-button" data-size="large" data-related="afsinka">Tweet to @afsinka</a></td>
      </tr>
    </tbody>
  </table> <br>

  <h1 class="af_h1_title">{{'contact.sendMessage' | translate}}</h1>
  <hr class="solid_hr">
  <form class="message-form" (ngSubmit)="onSubmit()">
    <textarea placeholder="{{'contact.typeHere' | translate}}" rows="4" cols="100" (keyup)="count(message)" name="message" [(ngModel)]="message" maxlength="5000"></textarea>
    <br/>
    <span> {{'contact.charsleft' | translate}} : {{ characterleft }}</span>
    <button style="float:right;margin-right:10%;" type="submit" class="btn btn-success btn-submit">{{'contact.send' | translate}}</button>
    <re-captcha (captchaResponse)="handleCorrectCaptcha($event)" site_key="6LciXjYUAAAAAI7KLBHYcoVMomyxQi4eRbkHZZy-"></re-captcha>
  </form>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          <p>{{'contact.sendPositive' | translate}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">{{'contact.close' | translate}}</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          <div style="text-align:center;">
            <p>{{'contact.simulation' | translate}}</p>
            <img src="images/areyouasimulation.jpg" width="320" height="240" style="">
            <span class="text-content"></span>
            <br/>
            <p>{{'contact.simulationWarning' | translate}}</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">{{'contact.close' | translate}}</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="myModal3" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          <div style="text-align:center;">
            <p>{{'contact.shy' | translate}}</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</div>
