<div class="af_container">
  <h1 class="af_h1_title">contact</h1>
  <hr class="solid_hr">
  <table>
    <tbody>
      <tr>
        <td>email :</td>
        <td>afsinka[at]gmail[dot]com</td>
      </tr>
      <tr>
        <td>twitter :</td>
        <td><a href="https://twitter.com/intent/tweet?screen_name=afsinka"
          class="twitter-mention-button" data-size="large" data-related="afsinka">Tweet to @afsinka</a></td>
      </tr>
    </tbody>
  </table> <br>

  <h1 class="af_h1_title">send anonymous message</h1>
  <hr class="solid_hr">
</div>
