<div class="af_container">
  <h1 class="af_h1_title">contact</h1>
  <hr class="solid_hr">
  <table class="contact_table">
    <tbody>
      <tr>
        <td>email</td>
        <td>:</td>
        <td>afsinka[at]gmail[dot]com</td>
      </tr>
      <tr>
        <td>twitter</td>
        <td>:</td>
<td><a href="https://twitter.com/intent/tweet?screen_name=afsinka" class="twitter-mention-button" data-size="large" data-related="afsinka">Tweet to @afsinka</a></td>
      </tr>
    </tbody>
  </table> <br>

  <h1 class="af_h1_title">send anonymous message</h1>
  <hr class="solid_hr">
  <form class="message-form" (ngSubmit)="onSubmit()">
    <textarea placeholder="type here..." rows="4" cols="100" (keyup)="count(message)" name="message" [(ngModel)]="message" maxlength="5000"></textarea>
    <br/>
    <span> chars left : {{ characterleft }}</span>
    <button style="float:right;margin-right:10%;" type="submit" class="btn btn-success btn-submit">Send</button>
  </form>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          <p>Your message is received. Thank you!</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
